<style>
.img {
    width: 15rem;
}
</style>

<%= current_user.department.tipo %>

<% @card_title = 'Seja Bem Vindo ao ZEOS' %>

<div class="text-center">
    <%= image_tag('logo.png', class: 'img-fluid img') %>


</div>
